<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fleck" version="1.2.0" targetFramework="net462" />
  <package id="LiveCharts" version="0.9.7" targetFramework="net462" />
  <package id="LiveCharts.WinForms" version="0.9.7.1" targetFramework="net462" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net462" />
  <package id="Masuit.Tools.Net" version="2.5.7.5" targetFramework="net462" />
  <package id="MaterialSkin.2" version="2.3.1" targetFramework="net451" requireReinstallation="true" />
  <package id="Microsoft.Web.WebView2" version="1.0.1823.32" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net462" />
  <package id="Newtonsoft.Json.Schema" version="3.0.14" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net451" requireReinstallation="true" />
  <package id="websocketsharp.core" version="1.0.0" targetFramework="net462" />
</packages>